---
layout: archive
title: "Professional Qualifications"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

Italian National Scientific Qualification as Associate Professor
======
Italian National Scientific Qualification as Associate Professor (Call D.D. 1796/2023) in the
sector 05/A1 Botany (10/03/2025 - 10/03/2037)

Doctor Europaeus
======
Doctor Europaeus is a special recognition awarded to doctoral candidates who have completed their PhD dissertations with a significant level of international collaboration and validation. 
To qualify for the Doctor Europaeus title, a PhD candidate must fulfill specific requirements
  
Professional licence of Biologist 
======
Achievement of the professional licence of Biologist section A, 01 December 2020 (II session
2020, regulation 2020/2021), University of Catania


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

